:root {
  --primary: teal;
  --primary-light: #68dfc7;
  --secondary: #f0f0f0;
}

#__next {
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}

h1 {
  font-size: 3rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
